@import "tailwindcss";

@theme {
  --font-sans: var(--font-tinos);
  --font-secondary: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-tinos), serif;
}

.title,
.description {
  font-family: var(--font-tinos), serif;
}

p,
span {
  font-family: var(--font-secondary);
}
